body {
	background: #eee;
}
.container {
	height: 100vh;
	padding: 20px;
}

.left-wrap,.middle-wrap,.right-wrap {
	height: 100%;
}

/*左侧布局*/
.left-wrap {
	float: left;
	width: 180px;
}

/*中间布局*/
.middle-wrap {
	margin-left: 220px;
	margin-right: 140px; 
}

/*右侧布局*/
.right-wrap {
	float: right;
	width: 120px;	
}

/*相同样式*/
.container-team,.container-content,.container-works {
	width: 100%;
	border: 1px solid #999;
	background: white;
}

/*左侧团队布局*/
.container-team {
	height: 80px;
	padding: 20px 0 20px 20px;
}

.img-team {
	float: left; 
	width: 80px; 
}

.text-team {
	display: block;
	margin-left: 80px;
	font-size:16px;
	text-align: center;
}

/*中间样式布局*/
.container-content {
	padding: 20px 0;
}

.content-header,.content-body {
	width: 100%;
	height: 100%;
	text-align: center;
}

.container-content h2 {
	font-size: 22px;
}

.container-content span {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}
.container-content p {
	margin-top: 15px;
	font-size: 14px;
	line-height: 24px;
}

/* 右侧布局 */
.container-works img{
	width: 100%;
	height: 100%;
}

.container-works li {
	margin: 20px;
}

@media screen and (max-width: 700px) {
	.middle-wrap {
		margin-left: 0;
		margin-right: 160px;
		position: absolute;
		top: 160px;
	}
}